@page "/incdec"

<PageTitle>IncrementerDecrementer</PageTitle>

<h1>Incrementer</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-outline-primary" @onclick="IncrementCount">Increase Count</button>
<button class="btn btn-outline-secondary" @onclick="DecrementCount">Decrement Count</button>
@code {
    private int currentCount = 42;

    private void IncrementCount()
    {
        currentCount++;
    }
     private void DecrementCount()
    {
        currentCount--;
    }
}