@page "/operation"

<PageTitle>Operation</PageTitle>

<h1>Operation</h1>

<p role="status">Current count: @number</p>
<div class="btn.group">
<button class="btn btn-primary btn-success" @onclick="Plus2">+2</button>
<button class="btn btn-primary btn-danger" @onclick="Minus2">-2</button>
<button class="btn btn-primary btn-success" @onclick="Multiply2">*2</button>
<button class="btn btn-primary btn-danger" @onclick="Divide2">/2</button>
</div>
<br>
<div class="container p-1 border"
<span>@comparsionResult</span>
</div>
<div class="container p-5 border">
<pre>
@message 
</pre>
</div>


@code {
    private int number = 7;
     private string comparsionResult="7 less than 100!";
    private string message="7";

    private void Plus2(){
        number+=2;
        message+= "\n" + number;
        if(number<100){
            comparsionResult = number + "less than 100!";
        }
        if(number ==100){
            comparsionResult= number + "equals to 100";
        }
        if(number>100){
            comparsionResult= number + "more than 100!";
        }
    }
    private void Minus2()
    {
        number-=2;
        message+="\n" + number;
                if(number <100){
            comparsionResult = number + "less than 100!";
        }
    }
    private void Multiply2()
    {
        number*=2;
        message+="\n" + number;
        if(number <100){
            comparsionResult = number + "less than 100!";
        }

    }
        private void Divide2()
    {
        number/=2;
        message+="\n" + number;
                if(number <100){
            comparsionResult = number + "less than 100!";
        }
    }
}
